@model TicketViewModel
@{

    ViewBag.Title = "Detalle Ticket";
}

<h2>
    <a style="float:right; color:blue" href="@Url.Action("Index","Ticket")"><i class="fas fa-arrow-circle-left"></i></a>
    Detalle del Ticket
</h2>
<hr />

@if (Model.Ticket == null)
{
    <h4>El ID del ticket no existe</h4>
}
else
{

    <div class="form-group">
        <label>Id : </label>
        @Model.Ticket.Id
    </div>

    <div class="form-group">
        <label>Fecha Generación : </label>
        @Model.Ticket.FechaGeneracion
    </div>
    <div class="form-group">
        <label>Estado : </label>
        @Model.Ticket.Estado.Nombre
    </div>
    <div class="form-group">
        <label>Usuario : </label>
        @Model.Ticket.Usuario.Nombres
    </div>
    <div class="form-group">
        <label>Descripción : </label>
        @Model.Ticket.Descripcion
    </div>
    <div class="form-group">
        <label>Responsable : </label>
        @Model.Ticket.Responsable.Nombres
    </div>
    <div class="form-group">
        <input type="button" value="Solucionar" class="btn btn-success" />
    </div>

}
<hr />