@model TicketViewModel
@{

    ViewBag.Title = "Nuevo";
}

<h2>
    <a style="float:right; color:blue" href="@Url.Action("Index","Ticket")"><i class="fas fa-arrow-circle-left"></i></a>
    Nuevo Ticket
</h2>

@using (Html.BeginForm("Nuevo", "Ticket", FormMethod.Post))
{
    <div class="form-group">
        <label>Fecha Generación</label>
        @Html.TextBoxFor(m => m.Ticket.FechaGeneracion, new { @class = "form-control" ,@required = "Required", @type="date" })
    </div>
    <div class="form-group">
        <label>Estado</label>
        <select name="Ticket.IdEstado" class="form-control" required>
            <option value="">Seleccione.....</option>
            @foreach (var estado in Model.Estados)
            {
                <option value="@estado.Id">@estado.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Usuario</label>
        <select name="Ticket.IdUsuario" class="form-control" required>
            <option value="">Seleccione.....</option>
            @foreach (var usuario in Model.Usuarios)
            {
                <option value="@usuario.Id">@usuario.Nombres</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Descripción</label>
        @Html.TextBoxFor(m => m.Ticket.Descripcion, new { @class = "form-control", @required = "Required" })
    </div>
    <div class="form-group">
        <label>Responsable</label>
        <select name="Ticket.IdResponsable" class="form-control" required>
            <option value="">Seleccione.....</option>
            @foreach (var responsable in Model.Responsables)
            {
                <option value="@responsable.Id">@responsable.Nombres</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-success"  />
    </div>
}

<hr />